@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <script src="~/Content/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="margin-left:2%; margin-right:2%;">
        @foreach(var mgrs in Model)
        {
            <div style="align-content:center; height:300px;">
                <div style="width:300px; height:auto; float:left;">
                    <img src="~/Managers/@mgrs.picture" style="border-radius:10px;"/>
                </div>

                <div style="float:right; font-size:20px; font-family:SimSun-ExtB;">
                    
                    <label class="label label-info">Name :</label>
                    @mgrs.name
                    <br />

                    <label class="label label-info">Qualification :</label>
                    @mgrs.qualification
                    <br />

                    <label class="label label-info">Rank :</label>
                    @mgrs.rank
                    <br />

                    <label class="label label-info">About :</label>
                    @mgrs.description
                    <br />

                </div>
            </div>
        }
    </div>
</body>
</html>
