@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Withdraw</title>

    <link href="dropDown.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/showHide.js" type="text/javascript"></script>

</head>
<body>
    <div>
        <div class="col-lg-6" style="margin-top:30px; margin-left:300px; background-color:aqua; width:500px; height:350px; border-radius:10px;">
            <div class="container" style="font-family:Calibri ; color:blue; margin-top:20px; margin-left:90px;">
                <div class="row">
                    <div class="col-md-offset-0 col-md-3">
                        <div class="form-login">

                            <form method="post" action="/Home/DrawCash" style="opacity:0.9">
                                <input type="text" style="opacity:0.9" name="AccountNo" class="form-control input-sm chat-input" placeholder="Your Account Number" required="required" />
                                <br />

                                <input type="number" style="opacity:0.9" name="amount" class="form-control input-sm chat-input" placeholder="Amount to withdraw" required="required" />
                                <br />

                                <input type="text" style="opacity:0.9" name="phoneNo" class="form-control input-sm chat-input" placeholder="Your phone number" required="required" />
                                <br />

                                <input class="btn btn-primary" type="submit" value="Withdraw" />
                            </form>

                            <h3>@ViewBag.Message</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
